sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
sphinxcontrib-youtube
sphinx-tabs
sphinx-copybutton
furo
sphinxcontrib-images
sphinx >=3
sphinxcontrib-napoleon
sphinx-argparse
docutils
myst-parser
configargparse
appdirs
immutables
sphinxawesome-theme
snakemake-interface-common
snakemake-interface-executor-plugins
snakemake-interface-storage-plugins
